extends base

block content
    form(metho="POST")
        input(placeholder="Old Password",type="text")
        input(placeholder="New Password",type="text")
        input(placeholder="New Password Confirmation",type="text")
        input(type="submit" value="Change Password")