extends base 

block content
    form(method="POST")
        if errorMessage
            span=errorMessage
        input(name="username",placeholder="username", type="text", reqired )
        input(name="password",placeholder="password", type="password", reqired )
        input(type="submit" value="Join")
        br
        a(href="https://github.com/login/oauth/authorize?client_id=35e1f95084bffc15e997&allow_signup=false") Continue with Github &rarr;
    hr
    div
        span Don't have an account? 
        a(href="/join") Create one now &rarr;